<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuezhik.educenter.mapper.UcenterMemberMapper">

    <select id="getRegisterCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM ucenter_member
        WHERE DATE(gmt_create)=#{day}
    </select>
</mapper>
